mat-form-field{
    width: 100%;
    
}
mat-select{
    width: 100%;
}
body{
    background: rgba(187, 181, 181, 0.26)
}
.ngx-file-drop__drop-zone{
    border: 2px dotted #0782d0;
}
.btn{
    padding-top: 10px;
    margin-top: 10px;
}